<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='bootstrap.min.css' )}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='theme.css' )}}" rel="stylesheet">

  </head>

  <body>

    {% include '_navbar.html' %}
    
    {% block content %}{% endblock %}

  </body>

</html>
